.menu {
  background-color: #3D3D3D;
  border-top: 1px;
  border-top : #CFB5C8;
}

.item {
  color: white;
}

.active-item-home:hover {
  color : #CFB5C8;
}
.active-item-stream:hover {
  color : #92C2C8;
}
.active-item-search:hover {
  color : #B2DAAE;
}
.active-item-library:hover {
  color : #E5D18B;
}