.player {
    position: fixed;
    left: 0;
    bottom: 1;
    width: 375px;
    height: 48px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 999;
}