/* Global styles */

/* variables */

@font-face {
  font-family: "Nexa Bold";
  src: url("./assets/fonts/Nexa Bold.otf");
}
@font-face {
  font-family: "Nexa Light";
  src: url("./assets/fonts/Nexa Light.otf");
}

body {
  margin: 0;
  padding: 0;
  background-color: #1F1F1F;
  font-family: "Nexa Bold";
}

form {
  font-family: "Nexa Light";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
