/* Fonts */

@font-face {
  font-family: "Nexa Bold";
  src: url("./assets/fonts/Nexa Bold.otf");
}
@font-face {
  font-family: "Nexa Light";
  src: url("./assets/fonts/Nexa Light.otf");
}


/* Global styles */


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1F1F1F;
  font-family: "Nexa Bold";
}

form {
  font-family: "Nexa Bold";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-size: 27px;
    font-family: "Nexa Bold";
    color: white;
}

h3 {
  font-size: 16px;
    font-family: "Nexa Bold";
    color: white;
}